.navbar-brand img{
  height: 50px;
  width: auto;
  display: block !important;
}

.navbar{
  padding-bottom: 0 !important;
  line-height: 2.6 !important;
}
.nav-link{
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: #ffffff;
}
.nav-link:hover{
  color: #D9D9D9;
}
.nav-link .active{
  color: #D9D9D9 !important;
}
.nav-item{
    text-align: center !important;
}
.card .bg-dark, .card-body>form{
  color: #D9D9D9 !important;
}
.card .bg-dark, .card-header{
  color: #D9D9D9 !important;
  font-weight: 800;
}
.login-box{
  background-color: rgba(52, 58, 64, 0.8)!important;
}
.btn-login{
  background-color: rgba(52, 58, 64, 1)!important;
  color: #D9D9D9 !important;
  border-color: #D9D9D9 !important;
}
.btn-login:hover{
  background-color: rgba(52, 58, 64, 0.75)!important;
  color: #FFF !important;
  border-color: #FFF !important;
}
.order-entry{
  height: 50px;
  font-size: 18px;
  line-height: 2.5;
}
.order-entry:hover{
  border: 1px solid white;
  background-color: #D9D9D9 !important;
  color: rgba(52, 58, 64, 1)!important;
  cursor: pointer;
}
.remove-side-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.remove-all-margin{
  margin: 0 !important;
}
.remove-side-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.remove-all-padding{
  padding: 0 !important;
}
.fit-text-dots{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-functions{
  font-size: 30px !important;
  line-height: 1.5 !important;
}
.btn-functions:hover{
  border: 1px solid white;
  color: #D9D9D9 !important;
  cursor: pointer;
}
.functions-box{
  position: absolute;
  z-index: 500;
  height: auto;
  min-height: 30px;
  width: 122px;
  right: 0;
  top: 45px;
  display: none;
  text-align: left;
  overflow:hidden;
  word-wrap:break-word;
  justify-content: center;
}
.center-content{
  display:flex;
  justify-content: center !important;
}
.btn-functions:hover .functions-box{
  display: flex;
}
.btn-orders-function{
  width: 120px;
  margin: 0 auto !important;
  text-align: left !important;
}
.input-margin{
  margin: 10px !important;
}
.history-row{
  padding: 10px !important;
  font-size: 18px;
  border-bottom: 1px solid white;
}
.history-row:hover{
  border: 1px solid white !important;
  cursor: pointer;
  background-color: #595e63 !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: white !important;
    background-color: #D9D9D9 !important;
    border-color: #ddd !important;
}
.pagination > li.active > span{
  background: #343A40 !important;
  border-color: white !important;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.btn-notifications{
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  position: relative;
}

.btn-notifications .badge{
  position: absolute !important;
  top: 0px !important;
  right: 0px;
}

.notifications-wrapper{
  position: relative;
}

.notifications-box{
  left: -80px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 35px;
  display: none;
  width: 240px;
  z-index: 100;
  max-height: 240px;
  overflow-y: auto;
}

.notifications-box-row{
  border-bottom: 1px solid black;
  position: relative;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notifications-box-row .badge{
  position: absolute !important;
  right: 2px !important;
  top: 5px !important;
}

.notifications-box-row:hover{
  background-color: #c9c9c9;
  cursor: pointer;

}

.btn-notifications:hover .notifications-box{
  display: block;

}

@media only screen and (max-width: 770px){
  .order-entry{
    height: 50px;
    font-size: 15px;
    line-height: 2.5;
  }
}
